@import "base/base";
@import "base/fonts";

.blackContainer {
    background-color: rgb(41 73 94 / 75%);
}

.viewer-backdrop {
    background-color: rgb(0 0 0);
}

.peepsTimer {
    .btn-secondary {
        color: #fff;
        background-color: transparent;
        border-color: #99ff66;
        font-size: 1rem;

        &:hover {
            color: #57bd25;
            background-color: #ffffff;
            border-color: #57bd25;
        }
    }

    .sidey {
        border: none;
        padding: 1rem 1rem;
        vertical-align: middle;
        width: 45%;
        margin-bottom: 40px;
        display: inline-block;
    }

    .timer {
        h1{
            margin: 20px;
            text-align: center;
        }
        .hour-counter {
            color: #fff;
            font-size: 48px;
            font-weight: 700;
            position: relative;
            text-align: center;
            width: 100%;
            letter-spacing: 2px;
            word-spacing: 8px;
            border: 1px solid #fff;

            .normal {
                font-size: 20px;
                margin-right: 20px;
            }
        }
    }
}